trunk/CedForecast/CedForecastRN/Web References/WS/Sincronizacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cedeira.com.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://cedeira.com.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cedeira.com.ar/">
      <s:element name="FechaUltimaSincronizacionArticulos">
        <s:complexType />
      </s:element>
      <s:element name="FechaUltimaSincronizacionArticulosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaUltimaSincronizacionArticulosResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechaUltimaSincronizacionCuentas">
        <s:complexType />
      </s:element>
      <s:element name="FechaUltimaSincronizacionCuentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaUltimaSincronizacionCuentasResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechaUltimaSincronizacionClientes">
        <s:complexType />
      </s:element>
      <s:element name="FechaUltimaSincronizacionClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaUltimaSincronizacionClientesResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechaUltimaSincronizacionZonas">
        <s:complexType />
      </s:element>
      <s:element name="FechaUltimaSincronizacionZonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaUltimaSincronizacionZonasResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarArticulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Elemento" type="tns:Articulo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Articulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PesoBruto" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Habilitado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaUltModif" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="GrupoArticulo" type="tns:GrupoArticulo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GrupoArticulo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdGrupoArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrGrupoArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Division" type="tns:Division" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Division">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarArticuloResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Elemento" type="tns:Cuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Division" type="tns:Division" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfirmacionPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pregunta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Respuesta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCuenta" type="tns:TipoCuenta" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoCuenta" type="tns:EstadoCuenta" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaAlta" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadEnviosMail" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaUltimoReenvioMail" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailSMS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecibeAvisoAltaCuenta" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PaginaDefault" type="tns:PaginaDefault" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaUltModif" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EstadoCuenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PaginaDefault">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarCuentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Elemento" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zona" type="tns:Zona" />
          <s:element minOccurs="1" maxOccurs="1" name="Habilitado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaUltModif" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Zona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Habilitada" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaUltModif" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="IniciarEnvioVenta">
        <s:complexType />
      </s:element>
      <s:element name="IniciarEnvioVentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Elemento" type="tns:Venta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Venta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdPeriodo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdArticulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarVentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="TerminarEnvioVenta">
        <s:complexType />
      </s:element>
      <s:element name="TerminarEnvioVentaResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarZona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Elemento" type="tns:Zona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarZonaResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecibirRollingForecast">
        <s:complexType />
      </s:element>
      <s:element name="RecibirRollingForecastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibirRollingForecastResult" type="tns:ArrayOfForecast" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfForecast">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Forecast" nillable="true" type="tns:Forecast" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Forecast">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdTipoPlanilla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="tns:Cliente" />
          <s:element minOccurs="0" maxOccurs="1" name="Articulo" type="tns:Articulo" />
          <s:element minOccurs="0" maxOccurs="1" name="IdPeriodo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecibirProyeccionAnual">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Año" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibirProyeccionAnualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibirProyeccionAnualResult" type="tns:ArrayOfForecast" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FechaUltimaSincronizacionArticulosSoapIn">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionArticulos" />
  </wsdl:message>
  <wsdl:message name="FechaUltimaSincronizacionArticulosSoapOut">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionArticulosResponse" />
  </wsdl:message>
  <wsdl:message name="FechaUltimaSincronizacionCuentasSoapIn">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionCuentas" />
  </wsdl:message>
  <wsdl:message name="FechaUltimaSincronizacionCuentasSoapOut">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionCuentasResponse" />
  </wsdl:message>
  <wsdl:message name="FechaUltimaSincronizacionClientesSoapIn">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionClientes" />
  </wsdl:message>
  <wsdl:message name="FechaUltimaSincronizacionClientesSoapOut">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionClientesResponse" />
  </wsdl:message>
  <wsdl:message name="FechaUltimaSincronizacionZonasSoapIn">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionZonas" />
  </wsdl:message>
  <wsdl:message name="FechaUltimaSincronizacionZonasSoapOut">
    <wsdl:part name="parameters" element="tns:FechaUltimaSincronizacionZonasResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarArticuloSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarArticulo" />
  </wsdl:message>
  <wsdl:message name="EnviarArticuloSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarCuenta" />
  </wsdl:message>
  <wsdl:message name="EnviarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarCliente" />
  </wsdl:message>
  <wsdl:message name="EnviarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IniciarEnvioVentaSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarEnvioVenta" />
  </wsdl:message>
  <wsdl:message name="IniciarEnvioVentaSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarEnvioVentaResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarVenta" />
  </wsdl:message>
  <wsdl:message name="EnviarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="TerminarEnvioVentaSoapIn">
    <wsdl:part name="parameters" element="tns:TerminarEnvioVenta" />
  </wsdl:message>
  <wsdl:message name="TerminarEnvioVentaSoapOut">
    <wsdl:part name="parameters" element="tns:TerminarEnvioVentaResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarZonaSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarZona" />
  </wsdl:message>
  <wsdl:message name="EnviarZonaSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarZonaResponse" />
  </wsdl:message>
  <wsdl:message name="RecibirRollingForecastSoapIn">
    <wsdl:part name="parameters" element="tns:RecibirRollingForecast" />
  </wsdl:message>
  <wsdl:message name="RecibirRollingForecastSoapOut">
    <wsdl:part name="parameters" element="tns:RecibirRollingForecastResponse" />
  </wsdl:message>
  <wsdl:message name="RecibirProyeccionAnualSoapIn">
    <wsdl:part name="parameters" element="tns:RecibirProyeccionAnual" />
  </wsdl:message>
  <wsdl:message name="RecibirProyeccionAnualSoapOut">
    <wsdl:part name="parameters" element="tns:RecibirProyeccionAnualResponse" />
  </wsdl:message>
  <wsdl:portType name="SincronizacionSoap">
    <wsdl:operation name="FechaUltimaSincronizacionArticulos">
      <wsdl:input message="tns:FechaUltimaSincronizacionArticulosSoapIn" />
      <wsdl:output message="tns:FechaUltimaSincronizacionArticulosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionCuentas">
      <wsdl:input message="tns:FechaUltimaSincronizacionCuentasSoapIn" />
      <wsdl:output message="tns:FechaUltimaSincronizacionCuentasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionClientes">
      <wsdl:input message="tns:FechaUltimaSincronizacionClientesSoapIn" />
      <wsdl:output message="tns:FechaUltimaSincronizacionClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionZonas">
      <wsdl:input message="tns:FechaUltimaSincronizacionZonasSoapIn" />
      <wsdl:output message="tns:FechaUltimaSincronizacionZonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarArticulo">
      <wsdl:input message="tns:EnviarArticuloSoapIn" />
      <wsdl:output message="tns:EnviarArticuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCuenta">
      <wsdl:input message="tns:EnviarCuentaSoapIn" />
      <wsdl:output message="tns:EnviarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCliente">
      <wsdl:input message="tns:EnviarClienteSoapIn" />
      <wsdl:output message="tns:EnviarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IniciarEnvioVenta">
      <wsdl:input message="tns:IniciarEnvioVentaSoapIn" />
      <wsdl:output message="tns:IniciarEnvioVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarVenta">
      <wsdl:input message="tns:EnviarVentaSoapIn" />
      <wsdl:output message="tns:EnviarVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TerminarEnvioVenta">
      <wsdl:input message="tns:TerminarEnvioVentaSoapIn" />
      <wsdl:output message="tns:TerminarEnvioVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarZona">
      <wsdl:input message="tns:EnviarZonaSoapIn" />
      <wsdl:output message="tns:EnviarZonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirRollingForecast">
      <wsdl:input message="tns:RecibirRollingForecastSoapIn" />
      <wsdl:output message="tns:RecibirRollingForecastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecibirProyeccionAnual">
      <wsdl:input message="tns:RecibirProyeccionAnualSoapIn" />
      <wsdl:output message="tns:RecibirProyeccionAnualSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SincronizacionSoap" type="tns:SincronizacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FechaUltimaSincronizacionArticulos">
      <soap:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionCuentas">
      <soap:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionCuentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionClientes">
      <soap:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionZonas">
      <soap:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarArticulo">
      <soap:operation soapAction="http://cedeira.com.ar/EnviarArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCuenta">
      <soap:operation soapAction="http://cedeira.com.ar/EnviarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCliente">
      <soap:operation soapAction="http://cedeira.com.ar/EnviarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarEnvioVenta">
      <soap:operation soapAction="http://cedeira.com.ar/IniciarEnvioVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarVenta">
      <soap:operation soapAction="http://cedeira.com.ar/EnviarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminarEnvioVenta">
      <soap:operation soapAction="http://cedeira.com.ar/TerminarEnvioVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarZona">
      <soap:operation soapAction="http://cedeira.com.ar/EnviarZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirRollingForecast">
      <soap:operation soapAction="http://cedeira.com.ar/RecibirRollingForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirProyeccionAnual">
      <soap:operation soapAction="http://cedeira.com.ar/RecibirProyeccionAnual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SincronizacionSoap12" type="tns:SincronizacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FechaUltimaSincronizacionArticulos">
      <soap12:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionArticulos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionCuentas">
      <soap12:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionCuentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionClientes">
      <soap12:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaUltimaSincronizacionZonas">
      <soap12:operation soapAction="http://cedeira.com.ar/FechaUltimaSincronizacionZonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarArticulo">
      <soap12:operation soapAction="http://cedeira.com.ar/EnviarArticulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCuenta">
      <soap12:operation soapAction="http://cedeira.com.ar/EnviarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCliente">
      <soap12:operation soapAction="http://cedeira.com.ar/EnviarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarEnvioVenta">
      <soap12:operation soapAction="http://cedeira.com.ar/IniciarEnvioVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarVenta">
      <soap12:operation soapAction="http://cedeira.com.ar/EnviarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminarEnvioVenta">
      <soap12:operation soapAction="http://cedeira.com.ar/TerminarEnvioVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarZona">
      <soap12:operation soapAction="http://cedeira.com.ar/EnviarZona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirRollingForecast">
      <soap12:operation soapAction="http://cedeira.com.ar/RecibirRollingForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirProyeccionAnual">
      <soap12:operation soapAction="http://cedeira.com.ar/RecibirProyeccionAnual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sincronizacion">
    <wsdl:port name="SincronizacionSoap" binding="tns:SincronizacionSoap">
      <soap:address location="http://localhost:3000/Sincronizacion.asmx" />
    </wsdl:port>
    <wsdl:port name="SincronizacionSoap12" binding="tns:SincronizacionSoap12">
      <soap12:address location="http://localhost:3000/Sincronizacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>